html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {background: #ddd;}

/** taimer **/

.timer { 
    position: absolute;
    top: 5px;
    left: 45%;
    background: #ffffff; 
    color: #9e005d; 
    text-align: center; 
    font: bold 32px/32px Arial;
    display: inline-block; 
    height: 36px; 
    overflow: hidden; 
    background: rgb(241,218,54);  
    border:1px solid #b79e00;
}

.timer ul { 
    display: inline-block; 
    list-style-type: none; 
    width: 35px; 
    padding: 0;
    margin: 0; 
    position: relative; 
    
}

@keyframes rollover {

       0% { top: -63px; }

      10% { top: -95px; }

      20% { top: -127px; }

      30% { top: -159px; }

      40% { top: -191px; }

       50% { top: -223px; } 

      60% { top: -255px; }

      70% { top: -287px; }

      80% { top: -319px; }

      90% { top: -351px; }

    100% { top: -383px; }

}

.timer-ones { 
    animation: rollover 10s cubic-bezier(1.000, 0.005, 0.995, 0.090) infinite; 
}

.timer-tens { 
    animation: rollover 100s cubic-bezier(1.000, 0.005, 0.995, 0.090) infinite;
}

/** stop **/

.stop {
    position: relative;
    height: 70px;
    margin: 50px 30px 10px;
    padding: 6px;
    border: 1px solid #2F7BCF;
    border-radius: 5px;
    font-size: 28px;
    background: #fff;
  }
.stop:before {
  content: attr(data-content);
  position: absolute;
  left: 10px;
  width: 230px;
  height: 56px;
  padding: 1px;
  background: #2F7BCF;
  border-radius: 3px;
  animation: timing 5s infinite alternate;
  line-height: 50px;
  cursor: pointer;
  text-shadow: 1px 2px teal;
  text-align: center;
  text-transform: capitalize;
  color: #FFF;
  }

@keyframes timing {
  100%{
    left: 100%;
    margin-left: -235px;
    }
}

.stop:hover:before{
  animation-play-state: paused;
  }




/** typography **/

.w {
  display: block;
  width: 750px;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 45px;
}


.content { 
  margin: 0 auto;
  display: block; 
  background: #fff;
  padding-top: 25px; 
  padding-left: 20%;
  padding-bottom: 35px;  
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}

.skillset .skill { 
   margin-bottom: 20px;
}

.skillset .skill .bar { 
  display: block;
  height: 25px;  
  width: 500px;
  padding: 3px 4px;
  box-sizing: content-box;
  border-radius: 6px;
  box-shadow: 1px 1px 2px #969492;
  background-color: #dadada; 
  
}

.skillset .skill .bar .skillbar {
  display: block;
  height: 100%;  
  border-radius: 4px;
  background-color: #499958;  
  
}
.skillset .skill .bar .skillbar small { font-size: 0.85em; padding-left: 3px; vertical-align: top; }


.skillset .skill .bar .htmlcss {  
  animation: htmlcss 1.5s cubic-bezier(.1, -1.5, .1, 2.5);
}
 
.skillset .skill .bar .jquery {  
  animation: jquery 1.5s ease-in-out forwards;
}

.skillset .skill .bar .phpmysql { 
  animation: phpmysql 1.5s ease-in-out forwards;
}

.skillset .skill .bar .wordpress {  
  animation: wordpress 1.5s ease-in-out forwards;
}

.skillset .skill .bar .woocommerce {  
  animation:  woocommerce 10s cubic-bezier(1.000, 0.5, 0.995, 0.90);
}




@keyframes htmlcss {
  0%   { width: 35px; } 
  30%  { width: 70%;       
      background:  linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));}
  50%   { width: 100%; transform: scale(1.3) rotate(360deg);} 
  100%  { width: 15%; }  
}


@keyframes phpmysql {
  0%   { width: 45px; }
  50%   { width: 100%; transform: scale(1.3) rotate(-100deg);}
  100% { width: 70%; }
}


@keyframes jquery {
  0%   { width: 45px; } 
  50%   { width: 100%; transform: scale(1.5) rotate(10deg);}
  100% { width: 55%; }
}


@keyframes wordpress {
  0%   { width: 35px; } 
  50%   { width: 100%; transform: scale(1.3) rotate(-50deg);}
  100% { width: 65%; }
}


@keyframes woocommerce {
  0%   { width: 35px; }
  100% { width: 100%; }
}

/** polling **/

.polling_message {
  color: white;
  float: left;
  margin-right: 2%;
  padding: 4px;
  padding-left: 300px;
}

.view_port {
  background-color: black;
  height: 25px;
  width: 100%;
  overflow: hidden;
}

.cylon_eye {
  background-color: red; 
  background-image: linear-gradient(to right, rgba( 0,0,0,0.9 ) 25%, rgba( 0,0,0,0.1 ) 50%, rgba( 0,0,0,0.9 ) 75%);
  color: white;
  height: 100%;
  width: 20%;
  animation: 4s linear 0s infinite alternate move_eye;
}

@keyframes move_eye {
    from { margin-left:-20%; } 
    to { margin-left:100%; } 
}

